body{
    font-family: sans-serif;
    background-color: #F5F5F5;
}

div.blocco_tutto{
    margin-top: 128px;
    width: 700px;
}

div.blocco_text{
    float: left; 
    height: 150px;
}

div.blocco_js{
    margin-top: 32px;
    height: 150px; 
    width: 150px; 
    background-color: rgb(255, 238, 0); 
    float: right;
    
}
h1.text_js{
    font-weight: bold; 
    text-align: end; 
    padding-right: 10px; 
    padding-top: 20%; 
    font-size: 80px;
}

div.nav{
    position: sticky;

}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 4px;
    font-size: 18px;
    overflow: hidden;
    background-color: #333;
}

li.nav {
    float: left;
}

li.nav_attivo{
    float: left;
    background-color: rgb(255, 238, 0); 
}

li a.nav {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a.nav:hover {
    background-color: rgba(17, 17, 17, 0.11);
}

div.blocco_inizio{
    margin-top: 50px;
    width: 580px; 
    background-color: teal;
}

div.immagine{
    float: left;
}

div.testo_button{
    float: right;
}

#b_ricerca{
    width: 100%;
    font-size: 18px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 16px;
    outline:none;
    margin-bottom: 0.5px;
}
  
#Ricerca{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
#Ricerca li a{
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block;
    border-radius: 5px;
    margin: 2.8px;
    background-color: #ced4da;
}
  
#Ricerca li a:hover{
    background-color: #eee;
    font-weight: bold;    
}

div.ricerca{
    float: left;
    width: 220px;
    margin-top: 24px;
    border-radius: 20px;
    max-height: 664;
}

div.modal{
    width: 500px;
    margin: 50px;
    margin-left: 200px;
    background-color: #F8F8FF;
    display: none;
    flex-direction: row;
    padding: 12px;
    border-radius: 20px;
}

div.codice_modal{
    margin-top: 12px;
    background-color: #faf3f3;
    width: 400px;
    border-radius: 20px;
    padding: 5px;
}

div.spiegazione_modal{
    background-color: #faf3f3;
    width: 400px;
    margin-top: 12px;
    border-radius: 20px;
    padding: 5px;
}

div.b_div_variabili{
    margin-top: 24px;
    margin-left: 30px;
    float: left;
    background-color: #ffe14c;
    width: 320px;
    height: 320px;
    border-radius: 4px;
}

div.b_div_cicli{
    margin-top: 24px;
    margin-left: 30px;
    float: left;
    background-color: #ffe14c;
    width: 320px;
    height: 320px;
    border-radius: 4px;
}

div.b_div_element{
    margin-top: 24px;
    margin-left: 30px;
    float: left;
    background-color: #ffe14c;
    width: 320px;
    height: 320px;
    border-radius: 4px;
}

div.b_div_funzioni{
    margin-top: 24px;
    margin-left: 30px;
    float: left;
    background-color: #ffe14c;
    width: 670px;
    height: 320px;
    border-radius: 4px;
}


footer.footer{
    background-color: #333;
    margin-top: 54px;
    float: right;
    width: 100%;
    height: 220px;
}

footer.footer_index{
    background-color: #333;
    margin-top: 25%;
    float: right;
    width: 100%;
    height: 220px;
}

div.blocco_doc{
    margin-top: 24px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.button {
    border-radius: 4px;
    background-color: #00587a;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 140px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button:hover span {
    padding-right: 25px;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}


h1.titolo_div_b{
    font-weight: bold;
    font-size: 32px;
    margin-top: 60px;
}

h2.desc_b{
    font-size: 20px;
    padding-left: 24px;
    padding-right: 24px;
}

h1.titolo_footer{
    font-size: 26px;
    color: gray;
}

img.img_footer{
    margin-top: 60px;
    width: 70px;
}

li.li-cerca{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

li.li-cerca:hover{
    font-size: 18px;
}

div.blocco_ricerca{
    float: left;
    padding: 0px;
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 36px;
    margin-right: -36px;
    border-radius: 20px;
}